/* General Reset */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
body, h1, h2, p, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(to bottom, #87cefa, #616f7e);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .weather-app {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
  }
  
  .app-header {
    margin-bottom: 20px;
  }
  
  .app-header h1 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: "Poppins";
  }
  
  .app-header input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .app-header button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #1e90ff;
    color: white;
    cursor: pointer;
  }
  
  .app-header button:hover {
    background: #4682b4;
  }
  
  .weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .weather-icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .weather-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Poppins";
  }
  
  .weather-details p {
    margin: 5px 0;
  }
  
 .about-content {
    display: flex;
    border: #1e90ff;
    width: 500px;
  }
